<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="../../static/css/self.css" th:href="@{/css/self.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
</head>
<body>
<!--导航-->
<nav class="ui   segment  m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui  secondary stackable menu">
            <h2 class="ui teal header item">Lightning</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini filter icon"></i>分类</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini file alternate icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini user secret icon"></i>关于</a>
            <div class="right m-item item  m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--手机端bar-->
    <a href="#" class="ui m-opacity-mini black mini icon button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui center aligned basic  m-padded-error-massive  m-margin-error-top segment">
    <div class="ui error message segment">
        <h1>404</h1>
        <p>你访问的资源不存在！</p>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer class="ui basic segment ">
    <div class="ui container">
        <div class="ui basic center aligned segment">
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2020 Lightning. All Rights Reserved.</p>
        </div>
    </div>
</footer>

</body>
</html>